<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Reservations</title>
    </head>
    <form action='/pages/logout/' method="POST">
        {% csrf_token %}
        <input type="submit" value="Log out" />
    </form>

    <body>

        <h2>Welcome! Here are your current reservations.</h2>

        
        <form action= >
            <table>
                <tr>
                    
                </tr>

                <tr>
                    
                </tr>
                
                <tr>
                    
                </tr>

            </table>
        </form>

        <h2>Our wonderful cottages are waiting for you!</h2>

    </body>
</html>